.DS_Store

application/config/config.php
application/config/database.php
system
user_guide
vendor
index.php

composer.lock
composer.phar

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess